[defaults]
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-cis-ubuntu2204
fact_caching_timeout = 3600
pipelining = true
forks = 20
timeout = 30
stdout_callback = default
display_skipped_hosts = no
